{% extends 'template.html' %}

{% block title %}All products{% endblock %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for product in products %}
        {#   about product:    #}
            <div>
                <h2>Product id: {{ product.id }}</h2>
                <p>Product title: {{ product.title }}</p>
                <p>Price: {{ product.price }}</p>
                <a href="{% url 'product_details' pid=product.id %}">About product</a>
                <img src="{{ product.image }}" alt="no image"> <br>
            </div>
    {% endfor %}

{% endblock %}