{% extends 'template.html' %}

{% block title %}Product info{% endblock %}

{% block content %}

    <script>
        let msg;
        {% if messages %}
            {% for message in messages %}
                msg="{{ message }}"
                {#alert("{{ message }}")#}
            {% endfor %}
        {% endif %}
    </script>

    {#   about product:    #}
    <div>
        <h2>Product id: {{ product.id }}</h2>
        <p>Product title: {{ product.title }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Product description: {{ product.description }}</p>
    </div>

    {#<form method='post' action="{% url 'product_details' product.id %}?m=delete">#}
    <form method='post' action="">
        {% csrf_token %}
        <input type="submit" name="action" value="delete">
        {% if product.is_active == False %}
            <input type="submit" name="action" value="activate">
        {% else %} <input type="submit" name="action" value="deactivate">
        {% endif %}

        <input type="number" value="1" step="1" min="1" name="qty">

        <input type="submit" name="action" value="add to cart">
    </form>

{% endblock %}